body {
background-color: #F6f6f6;
}

nav{
  background-color: #628E90;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.link{
  padding: 10px 40px;
  text-decoration: none;
  color: #3C2317;
  text-transform: uppercase;
}

.products {
display: flex;
flex-wrap: wrap;
}

.product-card {
padding: 2%;
flex-grow: 1;
flex-basis: 16%;
}

.cont {
display: flex;
justify-content: center;
}

.back {
background-color: #f4eddd; 
padding: 20px;
margin-left: 20px;
margin-right: 20px;
font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.change {
background-color: #3C2317;
color: white;
padding: 10px;
border: none;
font-family: 'Encode Sans Semi Condensed', sans-serif;
}

h3, h4 {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  color: #3C2317;
}

button {
margin: 10px;
}
h1{
  padding: 20px;
  font-size: 3rem;
  color: #628E90;
}
p{
  width: 50%;
  margin-left: 25%;
  color: #3C2317;
  font-size: 18px;
}
.center{
  color: #3C2317;
  display: flex;
  justify-content: center;
  

}